name: Docker Image CI

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: windows-2025
    steps:
      - 
        name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      -
        name: Build the Docker image
        run: docker build . --file Dockerfile --tag localbuild/testimage:latest
