name: Docker Image CI

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: windows-2025
    steps:
      - 
        name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      -
        name: Build the Docker image
        run: docker build . --file Dockerfile --tag localbuild/testimage:latest
