name: Docker Image CI

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: windows-2025
    steps:
      - 
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      -
        name: Build the Docker image
        run: docker build . --file Dockerfile --tag localbuild/testimage:latest
